name: Data Preprocessing Automation

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Kadek-Pramartha-Mahottama.py

      - name: Upload processed data
        uses: actions/upload-artifact@v4
        with:
          name: clean-dataset
          path: preprocessing/telco_customer_churn_preprocessing/
